.btn {
  background: var(--white);
  display: inline-block;
  color: var(--darkBlue);
  padding: 7px 14px;
  border-radius: 8px;
  margin-top: 30px;
  transition: all 0.2s ease-in-out;
}

.rotate-btn {
  &:hover {
    transform: rotate(-3deg);
  }
}

.select-btn {
  border-radius: 0;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
  border: 0.5px solid var(--white);

  &:first-child {
    border-radius: 8px 0 0 8px;
  }

  &:last-child {
    border-radius: 0 8px 8px 0;
  }

  &:hover {
    background: none;
    color: var(--white);
  }
}

.gradient-btn {
  background: linear-gradient(120deg, var(--pink), var(--lightBlue));
  color: var(--white);
  padding: 10px 15px;
  transition: all 0.2s;

  &:hover {
    background: linear-gradient(120deg, var(--lightBlue), var(--pink));
  }
}

.dashboard-btn {
  padding: 10px 15px;
  margin: 0;
  border: 0;
  justify-content: center;
  align-items: center;
}
