.main-footer {
  border-top: 1px solid $whiteAlpha2;
  justify-content: space-around;
  align-items: center;
  padding: 0 3vh;
  height: 18vh;

  a:hover {
    color: $lightBlue;
  }

  img {
    height: 40px;
    width: auto;

    & + p {
      margin: 10px 0;
    }
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    position: relative;

    &::before {
      content: "";
      height: 100%;
      width: 1px;
      background: linear-gradient(120deg, $pink, $lightBlue);
      position: absolute;
      left: 0;
      top: 0;
    }

    > :first-child {
      margin-bottom: 10px;
    }

    .footer-networks {
      margin-top: 20px;
      gap: 10px;

      svg {
        fill: $white;
      }

      svg:hover {
        fill: $lightBlue;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .main-footer,
  .footer-links {
    flex-direction: column;
    gap: 10px;
    height: auto;
    padding: 10px;
  }
}
