.skill-section {
  padding: 0 5vh;
  .container {
    h2 {
      margin-bottom: 4vh;
    }

    .skill-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      .skill-card {
        background: linear-gradient(217deg, $pink, $blue);
        height: 180px;
        border-radius: 15px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.2s ease;

        &:hover {
          transform: scale(1.05);
        }

        &:nth-child(2) {
          background: linear-gradient(-217deg, $pink, $lightBlue);
        }

        &:nth-child(3) {
          background: linear-gradient(-60deg, $pink, $lightBlue);
        }

        &:nth-child(4) {
          background: linear-gradient(60deg, $pink, $blue);
        }

        .skill-card-plus {
          justify-content: start;
          gap: 5px;

          p {
            font-weight: 500;
          }

          svg {
            fill: $white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .skill-container {
    grid-template-columns: repeat(2, 1fr) !important;

    .skill-card {
      height: 120px !important;
      &:nth-child(3) {
        background: linear-gradient(-60deg, $pink, $blue) !important;
      }

      &:nth-child(4) {
        background: linear-gradient(60deg, $pink, $lightBlue) !important;
      }
    }
  }
}
