.dashboard-aside {
  width: 20vw;
  height: 68vh;
  padding-top: 15vh;
  border-right: 1px solid var(--whiteAlpha2);

  li {
    padding: 2.5vh 5vh;
    border-bottom: 1px solid var(--whiteAlpha2);
    justify-content: start;
    gap: 10px;

    &:hover {
      background-color: var(--whiteAlpha2);
    }

    svg {
      fill: var(--lightBlue);
    }
  }

  .upload {
    border-top: 1px solid var(--whiteAlpha2);
    margin-bottom: 70px;
  }

  .clients {
    border-top: 1px solid var(--whiteAlpha2);
  }
}
