* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins";
}

:root {
  --white: white;
  --whiteAlpha: rgba(255, 255, 255, 0.066);
  --blue: rgb(37, 19, 115);
  --lightBlue: #09C0EF;
  --darkBlue: rgb(0, 0, 22);
  --darkBlueAlpha: rgba(0, 0, 22, 0.18);
  --shadow: rgba(0, 0, 22, 0.629);
  --pink: #ff00c2;
}

body {
  color: var(--white);
  background-image: radial-gradient(
    closest-corner at 68% 500px,
    var(--blue),
    var(--darkBlue) 75%
  );
  margin: auto;
}

a {
  color: var(--white);
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 5vh 0;
}

strong {
  font-family: 'Restora';
  font-size: 1rem;
  margin: 0 3px;
}

/* HEADER */

.main-header {
  position: fixed;
  width: 100%;
  z-index: 9;
  left: 0;
  display: flex;
}


.header-nav-container, .user-btn {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 92%;
  margin: 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
}

.header-logo {
  height: 40px;
  padding: 10px 0 10px 20px;
}

.header-nav-container {
  padding-right: 30px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.100), rgba(255, 255, 255, 0) 20% 50%, rgba(255, 255, 255, 0.100) 100%);
}

.user-btn {
  min-width: 25px;
  max-width: 25px;
  margin-left: 0;
  padding: 0 17px;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.user-btn img {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--white);
}

.user-btn:hover::before {
  content:"Accès\0000A0client";
  position: absolute;
  right: 60px;
  top: 19px;
}

.user-btn:hover {
  min-width: 150px;
  max-width: 150px;
  overflow: hidden;
}

.main-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

.main-nav ul li {
  color: var(--white);
  cursor: pointer;
}

.main-nav ul li a {
  position: relative;
}

.main-nav ul li a::after{
content: "";
width: 100%;
height: 0;
border-radius: 5px 5px 0 0;
background-color: var(--white);
position: absolute;
bottom: -17px;
left: 0;
transition: all 0.3s ease-in-out;
}

.main-nav ul li a::before{
  content: "";
  width: 100%;
  height: 0;
  border-radius: 0 0 5px 5px;
  background-color: var(--white);
  position: absolute;
  top: -16px;
  left: 0;
  transition: all 0.3s ease-in-out;
  }

.main-nav ul li a:hover:after, .main-nav ul li a:hover:before {
  height: 4px;
}


/* BANNER */

.main-container {
  position: relative;
  height: 90vh;
}

.text-intro {
  position: absolute;
  bottom: 45%;
  left: 8%;
}

h1 {
  font-family: 'Restora';
  font-size: 7rem;
  line-height: 4rem;
}

.text-intro p {
  font-weight: 200;
  opacity: 0.5;
  margin-top: 30px;
  padding-left: 10px;
  letter-spacing: 1rem;
  
}

.banner-img {
  height: 40vw;
  width: auto;
  position: absolute;
  right: 6%;
  top: 50%;
  transform: translateY(-50%);
}

.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.networks {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: -140px;
  top: 50%;
  transform: rotate(-90deg) translateY(-50%);
  /* opacity: 0.5; */
}

.networks svg {
  margin: 6px 8px 0 0;
  fill: var(--white);
  transform: rotate(90deg);
}

.networks svg:hover {
  transform: scale(1.1) rotate(80deg);
}

.social-separator {
  width: 50px;
  height: 1px;
  background-color: var(--white);
  margin: 0 20px;
}

/* INDICATORS */

.indicator-section {
  display: grid;
  gap: 5vw;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--darkBlueAlpha);
  padding: 7vh;
  margin: auto;
}

.indicator-box {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12vw;
  width: 12vw;
  background-color: var(--darkBlueAlpha);
  border: 1px solid var(--whiteAlpha);
  border-radius: 20px;
}

.indicator-box>:first-child {
  font-size: 5rem;
  font-weight: 700;
}

.indicator-box p {
  font-size: 0.8rem;
}

/* BIO */

.bio-section {
  padding: 10vh;  
  background-image: radial-gradient(
    closest-corner at 80% 40%,
    var(--blue),
    var(--darkBlue) 105%
  );
}

.bio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.biography {
  max-width: 40%;
  font-size: 0.8rem;
  font-weight: 300;
}

.biography> :first-child {
  margin-bottom: 10px;
}

.bio-imgs-container {

  position: relative;
  height: 300px;
}

.bio-imgs-container img {
  width: 150px;
  position: absolute;
  filter: drop-shadow(50px 40px 20px var(--shadow));
  transition: all 0.2s ease-in-out;
}

.t-3d {
  width: 300px !important;
  right: 6vw;
  top: -2vw;
  z-index: 3;
  animation: float2 6s ease-in-out infinite;
}

.palette-3d {
  right: 3vw;
  top: 12vw;
  z-index: 4;
  animation: floatx 9s ease-in-out infinite;
}

.regle-3d {
  right: 15vw;
  top: 14vw;
  z-index: 2;
  opacity: 0.8;
  animation: float 8s ease-in-out infinite;
}

.tools-3d {
  right: 22vw;
  top: 0vw;
  z-index: 2;
  animation: floatx2 6s ease-in-out infinite;
}

.progress-3d {
  right: -2vw;
  top: 2vw;
  z-index: 1;
  animation: float 7s ease-in-out infinite;
}

.tablet-3d {
  width: 450px !important;
  right: 0vw;
  top: -5vw;
  z-index: 0;
  animation: float 10s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px) translatez(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    transform: translatey(0px) rotate(5deg);
  }
  50% {
    transform: translatey(20px) rotate(-5deg);
  }
  100% {
    transform: translatey(0px) rotate(5deg);
  }
}

@keyframes floatx {
  0% {
    transform: translatex(0px) rotate(-2deg);
  }
  50% {
    transform: translatex(-20px)rotate(5deg);
  }
  100% {
    transform: translatex(0px)rotate(-2deg);
  }
}

@keyframes floatx2 {
  0% {
    transform: translatex(0px);
  }
  50% {
    transform: translatex(20px);
  }
  100% {
    transform: translatex(0px);
  }
}

.bio-imgs-container:hover img {
  animation: none;
}

.contact-banner {
  background: linear-gradient(120deg, var(--blue),var(--pink) 60%, var(--lightBlue));
  margin: 20vh 0;
  padding: 3vh;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.contact-banner p {
  max-width: 60%;
}

.contact-banner p + p {
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 8px;
}

.btn {
  background: var(--white);
  display: inline-block;
  color: var(--darkBlue);
  padding: 7px 14px;
  border-radius: 8px;
  margin-top: 30px;
  transition: all 0.2s ease-in-out;
  /* box-shadow: 15px 10px 10px var(--darkBlueAlpha); */
}

.btn:hover {
  transform: rotate(-3deg);
}

.contact-banner-img {
  height: 400px;
  mix-blend-mode: overlay;
  position: absolute;
  right: -100px;
  top: -50%
}
