.mentions-section {
  padding: 150px 100px 80px;

  h1 {
    margin-bottom: 40px;
    text-align: center;
  }

  h2 {
    margin: 20px 0 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: $lightBlue;
  }

  p {
    line-height: 1.5rem;
  }
}
