.signup-section {
  height: 100vh - 9vh;
  background-image: radial-gradient(
    closest-corner at 68% 500px,
    $blue,
    $darkBlue 75%
  );
  background-image: url(../../../public/images/3D_flower.png);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 110% 50%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 15vw;

  .signup-form-container {
    padding: 30px 50px;
    border-radius: 30px;

    h2 {
      margin-bottom: 4vh;
    }

    .signup-form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      .form-element {
        flex-direction: column;
        align-items: start;
        gap: 5px;
        margin-bottom: 20px;

        span {
          color: $lightBlue;
          margin-left: 2px;
        }
      }

      .signup-submit-btn {
        grid-column: 1/3;
        margin: auto;
      }
    }
  }
  .signup-redirection {
    margin-top: 8vh;
    text-align: center;

    .redirection-btn {
      margin-top: 10px;
      display: inline-block;
    }
  }
}
